---
layout: null
section-type: section
section-id: agenda
title: Agenda
---

<ul class="events-list">
  {% for event in site.data.events %}

  <li class="event-item">
    <span class="event-item__date">
      {{ event.date }}
    </span>
    <h3 class="event-item__title">
      {{ event.name }}
    </h3>
    <span class="event-item__location">
      {{ event.location }}
    </span>
    {% if event.link != "" %}
      <br/>
      <a 
        href="{{ event.link }}"
        target="_blank"
        rel="noreferrer"
        class="event-item__link"
      >
        MÁS INFO
      </a>
    {% endif %}
  </li>
  {% endfor %}
</ul>




