
<!-- Intro Start -->
<header class="intro">
    <video playsinline autoplay muted loop poster="{{ site.background-img }}" id="bgvid">
        <source src="{{ site.background-vid }}.webm" type="video/webm">
        <source src="{{ site.background-vid }}.mp4" type="video/mp4">
    </video>
  <div class="intro-body">
    <div class="container">
      <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <!-- <h1 class="brand-heading">&nbsp;</h1> -->
            <!-- <h1 class="brand-heading">&nbsp;</h1> -->
            <span class="intro-text">{{ '&nbsp;' }}</span>
            <!-- <h5>&nbsp;</h5> -->
            <a 
              href="#{{ site.pages_list['About'] }}" 
              class="page-scroll img-me"
              style="margin-top: 30px"
            > 
            </a>
          </div>
        </div>
    </div>
  </div>
</header>

<!-- Intro End -->
