
<!-- Section Start -->

<section id="{{ page.section-id }}" class="container content-section text-center">
  <div class="row">
      <div class="col-md-12">
          <h1>{{ page.title }}</h1>
          {{ page.content | markdownify }}

          {% assign photos = site.collections | where: "label", "photos" | first %}

          <div class="row">
              {% for photo in photos.files %}
                  <div class="col-md-6">
                      <img src={{ photo.path | remove_first: "_" }} />
                  </div>
              {% endfor %}
          </div>
      </div>
  </div>
</section>

<!-- Section End -->
