
<!-- Share Buttons Start -->
<div>
    <ul class="rrssb-buttons clearfix">
        {% if site.email-in-social %}
        <li class="rrssb-mail"><a href="mailto:?subject={{page.title}}&body={{site.url}}{{site.baseurl}}{{page.url}}" data-proofer-ignore>
            <span class="rrssb-text">
                <i class="fa fa-envelope fa-fw"></i>
                email
            </span>
        </a>
        </li>
        {% endif %}
        {% for network_hash in site.social %}
        {% for network in network_hash[1] %}

        <li class="rrssb-{{network_hash | first}}"><a href="{{ network | last }}" target="_blank">
            <span class="rrssb-text">
                <i class="fa fa-{{ network_hash | first}} fa-fw"></i>
                {{network_hash | first}}
            </span>
        </a>
        </li>
      {% endfor %}
      {% endfor %}
  </ul>
</div>

<!-- Share Buttons End -->
