
<!-- Swipe Instructions Start -->

<div id="swipe-instruction">
  <div>
    <p><br><br><br></p>
    <i id="hand-swipe" class="fa fa-hand-o-up"></i>
    <p><strong>
    {% if page.section-type == "blog" %}
        Sabias que te podes desplazar entre las paginas de archivo deslizando ?
    {% elsif page.section-type == "post" %}
        Sabias que te podes desplazar entre los articulos deslizando ?
    {% endif %}
    </strong></p>
    <button type="button" class="btn btn-default ok-btn close-swipe-instruction">
      {% if page.section-type == "blog" %}
        Genial !
      {% elsif page.section-type == "post" %}
        Groso !
      {% endif %}
    </button>
  </div>
</div>

<!-- Swipe Instructions End -->
