.events-list {
  padding: 0;
}

.event-item:not(:first-child) {
  border-top: 1px solid rgba(255,255,255,0.3);
}

.event-item {
  margin-left: auto;
  margin-right: auto;
  max-width: 720px;
  padding: 30px 0;
  list-style: none;
}

.even-item__title {
  font-size: 1.5rem;
}

.event-item__link {
  display: block;
  margin-top: 16px;
}