.swiper-slide {
  align-self: center;
  padding: 0;
}
.swiper-button-prev,
.swiper-button-next {
  color: rgba(255,255,255,0.8);
}
.content-section > div img {
  display: block;
  margin: 0;
  padding: 0;
}